.social-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-div{
    padding: 6px;
    cursor: pointer;
    margin: 6px;
}

.social-icon{
    height: 40px;
}

/* .social-icon:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 2px 2px 5px #888888;
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
} */

@media only screen and (max-width:720px){
    .social-icon{
        height: 30px;
    }
}