.education-card{
    display: flex;
    flex-direction: column;
}

.education-info{
    margin-right: 150px;
}

.institute-name{
    font-weight: 600;
}

.course-duration{
    color: gray;
}

@media only screen and (max-width:720px){
    .education-info{
        width: 100%;
    }
}