.about{
    padding-bottom: 48px;
}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture{
    /* margin-top: 40px; */
    /* height: 340px; */
    height: 390px;
}

.about-info{
    font-size: 24px;
}

.info-name{
    color: rgb(128, 90, 213);
    font-weight: bold;
    font-size: 50px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 175px;
    border: 2px solid rgb(128, 90, 213);
}

.btn a{
    text-decoration: none;
    color: rgb(128, 90, 213);
    font-size: 20px;
}

.btn:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 2px 2px 5px #888888;
}

@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture{
        /* height: 225px; */
        height: 280px;
        /* margin-top: 0px; */
    }
    .about-info{
        font-size: 20px;
    }
    .info-name{
        font-size: 30px;
    }
    .contact-me{
        text-align: center;
        margin-top: 5px;
        /* margin-left: 80px; */
        margin-left: 60px;
    }
}